//- footer
nav(class="footer-bar")
    div(class="person1")
        p(class='name') Walter Hills:
        a(href="https://www.linkedin.com/in//" class='linkedIn')
        i(class="fab fa-linkedin")
        a(href="https://github.com/W-the-V" class='git')
        i(class="fab fa-github-square  git")

    div(class="person2")
        p(class='name') Alpesh Vyas:
        a(href="https://www.linkedin.com/in//" class='linkedIn')
        i(class="fab fa-linkedin")
        a(href="https://github.com/alpvyas" class='git')
        i(class="fab fa-github-square  git")

    div(class="person3")
        p(class='name') Yassine Cherradi:
        a(href="https://www.linkedin.com/in//" class='linkedIn')
        i(class="fab fa-linkedin")
        a(href="https://github.com/ycherradi" class='git')
        i(class="fab fa-github-square  git")

    div(class="project")
        a(href="https://github.com/alpvyas/code-hunt" class="title")
        button(type='button' class='button')= 'Project Repository'
        a(href="https://github.com/alpvyas/code-hunt/wiki" class="wiki")
        button(type='button' class='button wikiButn')= 'Project Wiki'
