//- footer
link(rel='stylesheet' href='/stylesheets/footer.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css')
nav(class="footer-bar")
    div(class="person1")
        p(class='name') Walter Hills:
            a(href="https://www.linkedin.com/in/walter-hills-a52535205/" class='linkedIn')
                i(class="fab fa-linkedin")
            a(href="https://github.com/W-the-V" class='git')
                i(class="fab fa-github-square  git")

    div(class="person2")
        p(class='name') Alpesh Vyas:
            a(href="https://www.linkedin.com/in/alpesh-vyas-8211b9206/" class='linkedIn')
                i(class="fab fa-linkedin")
            a(href="https://github.com/alpvyas" class='git')
                i(class="fab fa-github-square  git")

    div(class="person3")
        p(class='name') Yassine Cherradi:
            a(href="https://www.linkedin.com/in/yassine-cherradi-035784101/" class='linkedIn')
                i(class="fab fa-linkedin")
            a(href="https://github.com/ycherradi" class='git')
                i(class="fab fa-github-square  git")

    div(class="project")
        a(href="https://github.com/alpvyas/code-hunt" class="title")
            button(type='button' class='button-footer')= 'Project Repository'
        a(href="https://github.com/alpvyas/code-hunt/wiki" class="wiki")
            button(type='button' class='button-footer wikiButn')= 'Project Wiki'
