doctype html
html
  head
      block head
        title= title
        link(rel='stylesheet' href='/stylesheets/login.css')
        script(src="/javascripts/login.js" defer)
  body      
  block content

