<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="/javascripts/comments.js" defer)
    title Document
  body
      h1(class="videoId" id=`${video.id}`) Video # #{video.id}
      form(method="post" action=`/posts/${video.id}/delete`)
        button(type="submit" class="videoDeleteBtn") Delete
      div
        form.comment-form
          textarea(name="body" id="commentBody" required)
          button(type="submit") Add Comment
      .comments
        each comment in comments
          div
            
            button(class=`deleteButton${comment.id}`)
