
.login-tab.active, 
.register-tab.active,
.login-tab.active > a,
.register-tab.active > a {
  background-color:  rgb(7, 193, 193);
}

.hidden {
  display: none;
}
.error-display.hidden {
  display: none;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color:gray;
  /* Center image on left side */
  background-image: url("./login-page.png");
  background-position: center;
  background-size: cover;
}

/* Control the right side */
.right {
  width: 50%;
  right: 0;
  /* background-color:#c1bdba; */
  background-color: #13232f;
}

/* If you want the content centered horizontally and vertically */
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.form {
  /* background-color: #c1bdba; */
  background-color: #13232f;
  width: 300px;
  border-style: solid;
  color: #c1bdba;
}

.login-tab-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.error-display {
  align-content: center;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  border: 1px solid red;
  background-color: #13232f;
  color: red;
  border-radius: 5px;
  width: 100%;
}

input, textarea {
  border: 1px solid #a0b3b0;
  color: rgb(5, 142, 142);
}

.form-item {
  display: flex;
  position:relative;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
  
}
.req {
  color: rgb(5, 142, 142);
  font-size: 30px;
}
.register-tab, .login-tab{
  border-style: solid;
  border-color: gray;
  border-right-width: thin;
}

.register-tab, .login-tab, a {
  background-color: rgb(5, 142, 142);
  width: 200px;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.register-tab:hover,
.register-tab:focus,
li:hover,
li:focus,
a:hover,
a:focus,
.login-tab:hover,
.login-tab:focus {
  background-color:  rgb(7, 193, 193);
  
}

.button {
  background-color: rgb(5, 142, 142);
  display: block;
  justify-content: space-between ;
  width:100%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.button:hover, .button:focus {
	background:  rgb(7, 193, 193);
}
.button-block {
  display: block;
  width: 100%;
}

.footer {
  /* border-style: solid; */
  display: grid;
  /* grid-template-columns: repeat(10, 10%); */
  position: fixed;
  left: 5 0%;
  bottom: 0;
  width: 100%;
  background-color: rgb(5, 142, 142);
  color: whitesmoke;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
}