.code_hunt_logo {
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
}

.search_icon {
  width: 18px;
  height: 18px;
}

.navbar {
  height: 66px;
  overflow: hidden;
  background-color: white;
  border: 1px solid darkgray;
  padding: 5px ;
}

.navbar_container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_search {
  display:flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 40px;
  padding: 0% 1%;
}

.navbar_categories {
  border: white;
}

.navbar_post {
  border: white;

}

.search_label {
  display: flex;
  justify-content: center;
}

.input_field {
  border: none;
  outline: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.searchbtn {
  border: 0.5px solid lightgray;
  font-size: 14px;
  color: #6f6f6f;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown .dropbtn,
.postbtn {
  border: none;
  font-size: 16px;
  color: #6f6f6f;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.profilebtn .logoutbtn {
  border: white;
  font-size: 16px;
  color: #6f6f6f;
  padding: 14px 16px;
  background-color: transparent;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown:hover,
.dropbtn, .searchbtn:hover,
.postbtn:hover {
  background-color: lightgray;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover,
.btn:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown_content {
  display: block;
}

.profile_logout_div {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  border: none;
  background-color: transparent;
  color: #6f6f6f;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
} 



body {
  margin: 0;
}