body {
  background: url("./login-page2.png") no-repeat center top transparent;
  height: 100px;
  background-color: #13232f;
  /* background-image: url("./login-page2.png"); */
  background-size: cover;
}
.pageTitle {
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
}
.outerContainer {
  display: flex;
  flex-direction: column;
}
.post-form-container {
  width: 40%;
  display: flex;
  align-self: center;
  background-position: center;
  background-color: #13232f;
  margin-top: 50px;
  padding-top: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: whitesmoke;
  text-align: center;

  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
}

.button {
  background-color: rgb(5, 142, 142);
  display: block;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover,
.button:focus {
  background: rgb(7, 193, 193);
}

input,
textarea,
select {
  border-radius: 5px;
  color: black;
  width: 100%;
  font-size: inherit;
}

input,
select {
  height: 30px;
}
