.shell {
  display: flex;
  flex-direction: column;
}

.pageTitle {
  background-color: rgb(5, 142, 142);
  font-size: 40px;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
  border-radius: 10px;
  width: 880px;
  align-self: center;
}
.error-display {
  align-self: center;
  background-color: black;
  margin: 20px;
  padding: 10px;
  border-style: solid;
  color: #c1bdba;
  border-radius: 10px;
  max-width: 400px;
  height: 100%;
}
.outerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 75px;
  margin-top: 25px;
}
.post-form-container {
  padding: 20px;
  width: 900px;
  display: flex;
  align-self: center;
  background-position: center;
  background-color: #13232f;
  margin-top: 50px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;

  flex-direction: column;
}

.form-item {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: whitesmoke;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.button {
  border: none;
  background-color: rgb(5, 142, 142);
  display: block;
  justify-content: space-between;
  width: 100%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover,
.button:focus {
  background: rgb(7, 193, 193);
}
#title,
#description,
#link,
#select {
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  width: 100%;
  font-size: inherit;
}

input,
select {
  height: auto;
}

.label {
  background-color: rgb(5, 142, 142);
  width: 100%;
  border-radius: 10px;
}
.formBtn {
  margin-top: 20px;
  align-self: center;
  width: 450px;
}
.footer {
  display: grid;
  position: fixed;
  left: 5 0%;
  bottom: 0;
  width: 100%;
  background-color: #13232f;
  color: whitesmoke;
  text-align: center;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
