html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  height: 100%;
}

body {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}

.videoId {
  font-size: 50px;
}

.logo {
  height: 50px;
  width: 50px;
}
textarea {
  resize: none;
}
.commentBox {
  border: 1px solid black;
  box-sizing: border-box;
  width: 230px;
}
.addComment {
  border: 1px solid black;
  box-sizing: border-box;
  width: 230px;
}
.videoTitle {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  box-sizing: border-box;
  width: 350px;
}

.descriptionBox {
  border: 1px solid black;
  box-sizing: border-box;
  width: 250px;
}
.videoLinkContainer {
  border: 1px solid black;
  box-sizing: border-box;
  width: 230px;
}
