textarea {
  width: 400px;
  align-self: center;
  padding: 10px;
  margin: 10px;
}
html {
  display: flex;
  flex-direction: column;
}

.footer {
  display: grid;
  position: fixed;
  left: 5 0%;
  bottom: 0;
  width: 100%;
  background-color: #13232f;
  color: whitesmoke;
  text-align: center;
}
.outerBlock {
  display: flex;
  flex-direction: column;
}
.logo {
  padding: 0px;
  margin-right: 50px;
  height: 150px;
  width: 150px;
}
.trio {
  margin: 10px;
  width: 100%;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.contentBlock {
  align-self: center;
  background-position: center;
  background-color: #13232f;
  margin-top: 50px;
  padding-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 900px;
  max-width: 1125px;
}
.commentContainer {
  height: 300px;
  width: 794px;
  background-color: #13232f;
  background-color: #f3f3f3;
  border-style: solid;
  border-color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 10px;
  border-radius: 10px;
}
.comments {
  background-color: #f3f3f3;
  box-sizing: border-box;
  overflow: auto;
}

#commentBtn {
  border: none;
  margin-bottom: 5px;
  background-color: rgb(5, 142, 142);
  align-self: center;
  width: 150px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
#commentBtn:hover,
#commentBtn:focus {
  background: rgb(7, 193, 193);
}
.linkBtn {
  margin-left: 50px;
  padding: 5px;
  border: none;
  text-decoration: none;
  display: block;
  font-size: 40px;
  background-color: rgb(5, 142, 142);
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  box-sizing: border-box;
  width: 200px;
}
.linkBtn:hover,
.linkBtn:focus {
  text-decoration: none;
  background: rgb(7, 193, 193);
}

.authorText {
  margin: 10px;
  font-size: 18px;
}
.videoId {
  align-self: center;
  font-size: 40px;
  color: whitesmoke;
  background-color: rgb(5, 142, 142);
  margin: 10px;
  padding: 10px;
  width: 780px;
  border-radius: 10px;
}
textarea {
  resize: none;
  width: 757.5px;
  height: auto;
  border-radius: 10px;
  border: 1px solid black;
}
.commentBox {
  margin: 5px;
  border-radius: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  width: 780px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.deleteBtn {
  border: none;
  margin-bottom: 5px;
  background-color: rgb(5, 142, 142);
  align-self: center;
  width: 150px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}
.deleteBtn:hover,
.deleteBtn:focus {
  background: rgb(7, 193, 193);
}
.commentText {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin: 10px;
}
.addComment {
  width: 230px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.videoTitle {
  height: fit-content;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
}
.descriptionLabel {
  font-size: 30px;
  color: whitesmoke;
  border-radius: 5px;
  background-color: rgb(5, 142, 142);
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.commentsLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  background-color: rgb(5, 142, 142);
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: whitesmoke;
}
.description {
  font-size: 24px;
  text-align: left;
  margin-left: 10px;
}
.descriptionBox {
  margin: 10px;
  padding: 10px;
  align-self: center;
  background-color: #f3f3f3;
  box-sizing: border-box;
  width: 800px;
  height: fit-content;
  min-height: 400px;
  border-radius: 10px;
  overflow: auto;
}
.videoLinkContainer {
  box-sizing: border-box;
}
.videoLink {
  text-decoration: none;
}
.comment-form {
  width: 780px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  margin-top: 20px;
}
#comments {
  min-height: 400px;
}
